@keyframes animationclick {
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

@keyframes alertmenu {
    0%{transform: translateX(0em);}
    25%{transform: translateX(2em);}
    50%{transform: translateX(-2em);}
    75%{transform: translateX(2em);}
    100%{transform: translateX(0em);}
}